<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="index.html" class="logo">
                        <img src="images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Company
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Coffee
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Something
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Franchise
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Work
                                </a>
                            </li>   
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <main class="main">

            <section class="contacts">
                <div class="conatiner">
                    <h2 class="section-title contacts__title">Связаться с нами</h2>
                    <p class="contacts__text">
                        Свяжитесь с нами, если у вас есть какие-либо вопросы или предложения.
                    </p>
                    <form action="#" class="form">
                        <input type="text" class="form__input" placeholder="Имя">
                        <input type="email" class="form__input" placeholder="Электронная почта">
                        <textarea class="form__textarea" placeholder="Ваши мысли"></textarea>
                        <button class="form__btn" type="submit">Отправить</button>
                    </form>
                </div>
            </section>
            <section class="important" style="padding-top: 35px;">
                <div class="container">
                    <h2 class="section-title important__title" style="padding-bottom: 20px;">
                        Специальные предложения Roast&Run
                    </h2>
                    <ul style="padding-bottom: 75px;" class="important__list">
                        <li class="important__item">
                            <img class="important__item-img" src="../static/images/imp/imp-1.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Скидка 15% на заказы через приложение
                            </h4>
                            <p class="important__item-text">
                                Используйте наше специальное приложение, копите баллы за посещение нашей кофейни и оплачивайте до 30% заказа накопленными баллами.
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="../static/images/imp/imp-2.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Платите сколько хотите за кофе
                            </h4>
                            <p class="important__item-text">
                                Один человек может выпить только один напиток. Воспользоваться предложением можно после подписки на Инстаграм кофейни.
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="../static/images/imp/imp-3.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Третья чашка кофе в подарок
                            </h4>
                            <p class="important__item-text">
                                Специальное предложение действует в течение месяца с момента тестового открытия кофейни.
                            </p>
                        </li>
                        <li class="important__item">
                            <img class="important__item-img" src="../static/images/imp/imp-4.jpg" alt="">
                            <h4 class="section-title important__title__small">
                                Скидка до 10% на любой кофе в вашем стакане
                            </h4>
                            <p class="important__item-text">
                                Каждая кофейня предлагает скидку 10% на напитки в собственном стакане.
                            </p>
                        </li>
                    </ul>
                </div>
                <a href=/specials>
                <button class="more__btn" type="button">Узнать больше</button>
                </a>
            </section>

        </main>
        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="contact.html" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Bartenders
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>  
    </div>
</body>
</html>