<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="index.html" class="logo">
                        <img src="images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Company
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Coffee
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Something
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Franchise
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Work
                                </a>
                            </li>   
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <main class="main">
           <section class="cookies">
                <div class="container">
                    <h2 class="cookies__title section-title">Использование файлов cookie компанией Roast&Run</h2>
                    <p class="cookies__item-text">Веб-сайты и онлайн-сервисы Roast&Run могут использовать файлы cookie. Файлы cookie позволяют вам использовать корзину покупок и персонализировать просмотр наших сайтов. Они помогают нам отслеживать наиболее посещаемые веб-страницы, измерять эффективность рекламы и онлайн-поиска, а также предоставлять информацию о поведении пользователей, чтобы мы могли улучшить наши коммуникации и продукты.</p>
                    <p class="cookies__item-text">Если вы хотите отключить файлы cookie в своем веб-браузере, перейдите в «Настройки» и на панели «Конфиденциальность» выберите «Блокировать файлы cookie». Откройте «Настройки» на своем устройстве, затем выберите браузер и настройки файлов cookie.</p>
                    <p class="cookies__item-text">Наши сайты используют файлы cookie. Отключив их, вы можете потерять доступ к некоторым разделам сайтов.</p>
                    <p class="cookies__item-text">Файлы cookie, используемые на наших веб-сайтах, классифицируются в соответствии с правилами, изложенными в Руководстве ICC по файлам cookie. На наших веб-сайтах и в других онлайн-сервисах мы используем следующие категории:</p>
                    <h4 class="cookies__item-title">Категория 1 – Строго необходимые файлы cookie.</h4>
                    <p class="cookies__item-text">Эти файлы cookie необходимы для просмотра наших веб-сайтов и использования их функций. Без них невозможно обеспечить работу таких сервисов, как корзины покупок и онлайн-платежи.</p>
                    <h4 class="cookies__item-title">Категория 2 — файлы cookie производительности.</h4>
                    <p class="cookies__item-text">Эти файлы cookie собирают информацию о том, как используются веб-сайты, например, о наиболее часто посещаемых страницах. Такие данные могут использоваться для оптимизации наших веб-сайтов и упрощения навигации. Эти файлы cookie также используются нашими филиалами, чтобы определить, пришли ли вы на наш сайт с сайта партнера, воспользовались нашими услугами и приобрели наши продукты в результате посещения сайта, в том числе — какие именно продукты и услуги вы приобрели. Эти файлы cookie не используются для сбора личной информации. Вся информация, собранная через них, предназначена для статистических целей и остается анонимной.</p>
                    <h4 class="cookies__item-title">Категория 3 – функциональные файлы cookie.</h4>
                    <p class="cookies__item-text">Эти файлы cookie позволяют нашим веб-сайтам запоминать выбор, который вы делаете во время просмотра сайта. Например, файл cookie может запоминать ваше местоположение, что позволяет нам отображать наш веб-сайт на языке вашей страны. Эти файлы также можно использовать для запоминания таких настроек, как размер текста и шрифт, а также других настраиваемых параметров сайта. Эти файлы также можно использовать для отслеживания рекомендуемых продуктов и видео, чтобы избежать повторения. Информация, предоставляемая этими файлами cookie, не идентифицирует вас. Они не предназначены для отслеживания вашей активности на веб-сайтах, не принадлежащих Roast&Run.</p>
                </div>
           </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Bartenders
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>  
    </div>
</body>
</html>