<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="index.html" class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Company
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Coffee
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Something
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Franchise
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Work
                                </a>
                            </li>   
                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="../static/images/profile-img.svg" alt="" class="profile-logo__img">
                    </a>
                </div>
            </div>
        </header>


        <main class="main">
           <section class="faq">
                <div class="faq_container">
                    <h2 class="faq-title section-title">FAQs</h2>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    Являются ли ваши кафе зоной, свободной от орехов?
                                </h2>
                                <svg class="faq__item-question-svg" width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    У нас в магазине есть немного орехов/арахиса, но у нас есть процедуры, предотвращающие перекрестное заражение людей с аллергией на орехи.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    Можете ли вы добавить несколько сиропов к любому кофе?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                   Да, вы можете добавить столько сиропов, сколько захотите, просто это будет стоить немного дороже.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    Какие размеры чашек и кружек вы предлагаете?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Все наши напитки разделены на 3 размера - M, L, XL; Каждому размеру соответствует своя граммовка - 300, 450 и 600 мл соответственно. К тому же есть исключения по типу эспрессо, который представлен в единичной граммовке - 40 мл.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    Откуда привозится ваши зёрна?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Мы устойчиво закупаем кофе со всего мира и стараемся выделить лучшее из каждого растущего региона. Наш кофе поставляется из Центральной Америки, Южной Америки, Индонезии и Африки.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    В каком кофейном напитке больше всего кофеина?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Большинство людей думают, что в эспрессо больше всего кофеина, но на самом деле его больше в заваренном кофе. Двойная порция эспрессо содержит около 80 миллиграммов кофеина. В то время как заваренный кофе содержит около 120 миллиграммов кофеина.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    В темной обжарке больше или меньше кофеина?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Как правило, при более темной обжарке кофеина немного меньше, чем при более светлой обжарке, поскольку кофейное зерно обжаривается дольше, в результате чего в процессе обжарки выделяется больше кофеина. Это также придает темной обжарке «более смелый» вкусовой профиль.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    В чем разница между Эспрессо, Капучино и Латте?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Эспрессо — это кофе, в котором вода находится под давлением, в результате чего получается крепкая, но красивая на вкус чашка кофе (около 1 унции на порцию эспрессо). Капучино и латте готовятся из парового молока и эспрессо. Капучино — это небольшой напиток с крепким вкусом, в котором меньше молока, чем в латте. Латте больше, чем эспрессо, и их часто сочетают с дополнительными сиропами или соусами.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    Какие у вас варианты сиропа?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Мы предлагаем авторские сиропы. Наши варианты сиропов: ванильный, лавандовый, фундуковый, ванильный без сахара, лесной орех без сахара, карамельный сироп без сахара, а также множество других чередующихся вариантов. Наши варианты соусов — карамельный, шоколадный и белый шоколад.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    Вы предлагаете альтернативы коровьему молоку?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Да, мы предлагаем все эти варианты. Обезжиренное/обезжиренное молоко не требует дополнительной оплаты, но добавление соевого, кокосового или миндального молока будет стоить дополнительно +50 рублей.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="faq-items">
                        <div class="faq__item">
                            <div class="faq__item-question">
                                <h2 class="faq__item-question-text">
                                    Нужен ли вам опыт работы бариста или повара для работы в магазине?
                                </h2>
                                <svg class="faq__item-question-svg"  width="15" height="10" viewBox="0 0 42 25">
                                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>                            
                                </svg>
                            </div>
                            <div class="faq__item-answer">
                                <p class="faq__item-answer-text">
                                    Опыт работы бариста не обязателен. Когда вы присоединитесь к нашей команде, мы научим вас всему, что вам нужно знать. Все наши бариста проходят нашу <a class="inline-link" href="barusta-school.html">программу обучения кофе</a> учатся тому, как стать «экспертами по кофе», подающими потрясающий кофе.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
           </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Bartenders
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>  
    </div>
    <script src="../static/js/faq-openAnswer.js"></script>
</body>
</html>