<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="index.html" class="logo">
                        <img src="images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Company
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="coffee-menu.html" class="menu__list-link">
                                    Coffee
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Something
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Franchise
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Work
                                </a>
                            </li>   
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <main class="main">
            <section class="terms-of-service">
                <div class="container">
                    <h2 class="section-title terms-of-service__title">
                        УСЛОВИЯ ИСПОЛЬЗОВАНИЯ
                    </h2>
                    <p class="terms-of-service__text">
                        Мы осознаем важность конфиденциальности информации. В этом документе описывается, какую личную информацию мы получаем и собираем, когда вы используете сайт. Мы надеемся, что эта информация поможет вам принять обоснованные решения относительно личной информации, которую вы нам предоставляете.
                    </p>
                    <ul class="terms-of-service__list">
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Публичная информация
                            </h4>
                            <p class="terms-of-service__list-text">
                                Если вы просто просматриваете сайт, информация о вас не собирается и не публикуется на сайте.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Какую информацию мы собираем?
                            </h4>
                            <p class="terms-of-service__list-text">
                                Мы собираем информацию об имени, телефоне и электронной почте только от тех посетителей нашего сайта, которые заполняют любую из форм на нашем сайте.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Как мы используем данные, которые собираем?
                            </h4>
                            <p class="terms-of-service__list-text">
                                Ваше добровольное согласие оставить свое имя, номер телефона и адрес электронной почты подтверждается путем ввода имени, номера телефона и/или адреса электронной почты в соответствующую форму. Информация, собранная после отправки формы на сайте (а именно: имя, номер телефона), нигде не публикуется и не доступна другим посетителям сайта. Имя используется для обращения лично к Вам, а номер телефона – для уточнения вопросов. Если нам потребуется использовать ваши данные для целей, не упомянутых в настоящей политике конфиденциальности, мы всегда будем запрашивать ваше предварительное согласие на это.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Условия обработки и ее передачи третьим лицам.
                            </h4>
                            <p class="terms-of-service__list-text">
                                Ваше Имя и номер телефона никогда и ни при каких обстоятельствах не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства. Ведение журнала Каждый раз, когда вы посещаете сайт, наши серверы автоматически записывают информацию, которую ваш браузер передает при посещении веб-страниц. Обычно эта информация включает в себя запрошенную вами веб-страницу, IP-адрес компьютера, тип браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые могут конкретно идентифицировать ваш браузер.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Cookies
                            </h4>
                            <p class="terms-of-service__list-text">
                                Сайт использует файлы cookie и собирает данные о посетителях с помощью сервисов Яндекс Метрики. Эти данные используются для сбора информации о действиях посетителей на сайте, для улучшения качества его контента и возможностей. В любой момент вы можете изменить настройки вашего браузера, чтобы браузер перестал сохранять все файлы cookie, а также уведомлял вас об их отправке. Обратите внимание, что в этом случае некоторые сервисы и функции могут перестать работать.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Bartenders
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>  
    </div>
</body>
</html>